@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
      Root colors
  */
  --primary-500: #ffd54f;
  --primary-400: #ffdd70;
  --primary-300: #ffe592;
  --primary-200: #ffedb3;
  --primary-100: #fff5d5;

  --secondary-500: #1a1a1a;
  --secondary-400: #282828;
  --secondary-300: #3a3a3a;
  --secondary-200: #484848;
  --secondary-100: #636363;

  --highlight-500: #1a1a1a;
  --highlight-400: #282828;
  --highlight-300: #3a3a3a;
  --highlight-200: #484848;
  --highlight-100: #636363;

  --surface-500: #6b7280;
  --surface-400: #9ca3af;
  --surface-300: #d1d5db;
  --surface-200: #e5e7eb;
  --surface-100: #f3f4f6;

  /*
      Static colors
  */

  --brand-500: #ffd54f;
  --brand-400: #ffdd70;
  --brand-300: #ffe592;
  --brand-200: #ffedb3;
  --brand-100: #fff5d5;

  /*
      Utilities colors
  */

  --link-500: #3b82f6;
  --link-400: #60a5fa;
  --link-300: #93c5fd;
  --link-200: #bfdbfe;
  --link-100: #dbeafe;

  --success-500: #22c55e;
  --success-400: #4ade80;
  --success-300: #86efac;
  --success-200: #bbf7d0;
  --success-100: #dcfce7;

  --error-500: #ef4444;
  --error-400: #f87171;
  --error-300: #fca5a5;
  --error-200: #fecaca;
  --error-100: #fee2e2;

  --warning-500: #f59e0b;
  --warning-400: #fbbf24;
  --warning-300: #fcd34d;
  --warning-200: #fde68a;
  --warning-100: #fef3c7;

  --gray-100: #f3f4f6;
}

html.light {
  --secondary-500: #1a1a1a;
  --secondary-400: #282828;
  --secondary-300: #3a3a3a;
  --secondary-200: #484848;
  --secondary-100: #636363;
}

html.dark {
  --secondary-500: #1a1a1a;
  --secondary-400: #282828;
  --secondary-300: #3a3a3a;
  --secondary-200: #484848;
  --secondary-100: #636363;
}